* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* global Colors */
:root {
  --text-color: #382f38;
  --navbar-color: #eb92a2;
  --secondary-color: #c95c73;
  --background-light: #fee1e7;
  --background-white: #fcf4f5;
}

/* general styles */
h2 {
  font-size: 2rem;
  color: var(--text-color);
}
