<body>
  <footer class="footer">
    <div class="connect-with-us">
      <h3>CONNECT WITH US</h3>
      <div class="social-links">
        <a href="404.html"><i class="fa fa-instagram fa-lg"></i></a>
        <a href="404.html"><i class="fa fa-envelope fa-lg"></i></a>
        <a href="404.html"><i class="fa fa-facebook fa-lg"></i></a>
      </div>
    </div>
    <div class="learn">
      <h3>LEARN</h3>
      <ul>
        <li><a href="index.html#homepage-about">About</a></li>
        <li><a href="index.html#policies">Delivery & Return Policy</a></li>
        <li><a href="products.html">Our Offerings</a></li>
      </ul>
    </div>
  </footer>
</body>
