<body>
  <footer class="footer">
    <div class="connect-with-us">
      <h3>CONNECT WITH US</h3>
      <div class="social-links">
        <a href="#"><i class="fa fa-instagram fa-lg"></i></a>
        <a href="#"><i class="fa fa-envelope fa-lg"></i></a>
        <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
      </div>
    </div>
    <div class="learn">
      <h3>LEARN</h3>
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Delivery & Return Policy</a></li>
        <li><a href="#">Our Offerings</a></li>
      </ul>
    </div>
  </footer>
</body>
